#pmpro-password-strength {
	border: 2px solid;
    padding-left: 5px;
    padding-right: 5px;
	display:none;
}

#pmpro-password-strength.good {
	display: inline-block;
	background-color: rgb(221, 210, 112);
	border: 1px solid rgb(219, 172, 84);
}

#pmpro-password-strength.strong {
	display: inline-block;
	background-color: rgb(172, 249, 153);
	border: 1px solid rgb(72, 105, 64);
}

#pmpro-password-strength.short,
#pmpro-password-strength.bad {
	display: inline-block;
	background-color: rgb(255, 170, 170);
	border: 1px solid rgb(168, 0, 0);
}