
#pmpro-password-strength {
	  border: 2px solid;
    padding-left: 5px;
    padding-right: 5px;
	  display:none;
}

#pmpro-password-strength.good {
	display: inline-block;
	background-color: rgb(221, 210, 112);
	border: 1px solid rgb(219, 172, 84);
}


#pmpro-password-strength.strong {
	display: inline-block;
	background-color: rgb(172, 249, 153);
	border: 1px solid rgb(72, 105, 64);
}

#pmpro-password-strength.short,
#pmpro-password-strength.bad {
	display: inline-block;
	background-color: rgb(255, 170, 170);
	border: 1px solid rgb(168, 0, 0);
}

.progressBar {
	background-color: #419E39;
	background-image: linear-gradient(to right, #D92132 10%, #E34F19 25%, #FF9500 40%, #ffe600 70%, #15770c 90%);
	border-radius: 10px;
	height: 10px;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 350px;
  }
  
  .progressBarStatus {
	background-color: transparent;
	border-radius: 10px;
	box-shadow: 500px 0 0 500px #aaaaaa;
	display: block;
	height: 10px;
	left: 0;
	position: absolute;
	top: 0;
	width: 0%;
  }