
#pmprosp-password-strength {
	vertical-align: super;
	border: 2px solid;
	margin-left: 15px;
	/* margin-top: -50px; */
	/* margin-bottom: 10px; */
	padding-left: 5px;
	padding-right: 5px;
	/* padding-bottom: 0; */
	display:none;
	/* display: inline-block; */
	border-radius: 20px;
	min-width: 80px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: bold;
	font-family: Helvetica, Candara, Verdana, Geneva, Tahoma, sans-serif;
}
.pmpro_checkout-field-password label {
	/* margin-bottom: -100px; */
}

#pmprosp-password-strength.good, 
#pmprosp-password-strength.strong, 
#pmprosp-password-strength.short, 
#pmprosp-password-strength.bad {
	display: inline-block;
	-webkit-transition: all 300ms ease-in-out; /* For Safari 3.1 to 6.0 */
  	transition: all 300ms ease-in-out;
}

#pmprosp-password-strength.good {
	background-color: rgba(221, 210, 112, 0.5);
	border-color: rgb(219, 172, 84);
	color: rgb(113, 78, 14);
}

#pmprosp-password-strength.strong {
	background-color: rgba(172, 249, 153, 0.5);
	border-color: rgb(72, 105, 64);
	color: rgb(38, 63, 32);
}

#pmprosp-password-strength.bad {
	background-color: rgba(255, 170, 170, 0.5);
	border-color: rgb(168, 0, 0);
	color:rgb(113, 8, 8);
	
}
#pmprosp-password-strength.short {
	background-color: rgba(224, 77, 77, 0.5);
	border-color: rgb(168, 0, 0);
	color: rgb(113, 8, 8);
}

.pmprosp-progressbar {
	background-color: #419E39;
	background-image: linear-gradient(to right, #D92132 10%, #E34F19 25%, #FF9500 40%, #ffe600 70%, #15770c 90%);
	border-radius: 10px;
	height: 10px;
	overflow: hidden;
	position: relative;
	/* width: 100%; */
	/* max-width: 350px; */
  }
  
  .pmprosp-progressbar-status {
	background-color: transparent;
	border-radius: 10px;
	box-shadow: 500px 0 0 500px #aaaaaa;
	display: block;
	height: 10px;
	left: 0;
	position: absolute;
	top: 0;
	width: 0%;
	-webkit-transition: width 1s ease-in-out; /* For Safari 3.1 to 6.0 */
  	transition: width 1s ease-in-out;
  }

  span.pmprosp-tooltip__password {
	margin-left: 10px;
	border-bottom: 1px dotted;
	cursor: help;
	font-weight: normal;
	vertical-align: super;
	font-size: 10px;
  }

  [data-tooltip] {
	position: relative;
	z-index: 10;
  }
  
  /* Positioning and visibility settings of the tooltip */
  [data-tooltip]:before,
  [data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	left: 50%;
	bottom: calc(100% + 5px);
	pointer-events: none;
	transition: 0.2s;
	will-change: transform;
  }
  
  /* The actual tooltip with a dynamic width */
  [data-tooltip]:before {
	content: attr(data-tooltip);
	padding: 10px 18px;
	min-width: 50px;
	max-width: 300px;
	width: max-content;
	width: -moz-max-content;
	border-radius: 6px;
	font-size: 14px;
	background-color: rgba(59, 72, 80, 0.9);
	background-image: linear-gradient(30deg,
	  rgba(59, 72, 80, 0.44),
	  rgba(59, 68, 75, 0.44),
	  rgba(60, 82, 88, 0.44));
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;
	white-space: pre-wrap;
	transform: translate(-50%, -5px) scale(0.5);
  }
  
  /* Tooltip arrow */
  [data-tooltip]:after {
	content: '';
	border-style: solid;
	border-width: 5px 5px 0px 5px;
	border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
	transition-duration: 0s; /* If the mouse leaves the element, 
								the transition effects for the 
								tooltip arrow are "turned off" */
	transform-origin: top;   /* Orientation setting for the
								slide-down effect */
	transform: translateX(-50%) scaleY(0);
  }
  
  /* Tooltip becomes visible at hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
  }
  /* Scales from 0.5 to 1 -> grow effect */
  [data-tooltip]:hover:before {
	transition-delay: 0.3s;
	transform: translate(-50%, -5px) scale(1);
  }
  /* Slide down effect only on mouseenter (NOT on mouseleave) */
  [data-tooltip]:hover:after {
	transition-delay: 0.5s; /* Starting after the grow effect */
	transition-duration: 0.2s;
	transform: translateX(-50%) scaleY(1);
  }
  /*
	That's it.
  */
  
  
  
  
  
  
  
  /*
	If you want some adjustability
	here are some orientation settings you can use:
  */
  
  /* LEFT */
  /* Tooltip + arrow */
  [data-tooltip-location="left"]:before,
  [data-tooltip-location="left"]:after {
	left: auto;
	right: calc(100% + 5px);
	bottom: 50%;
  }
  
  /* Tooltip */
  [data-tooltip-location="left"]:before {
	transform: translate(-5px, 50%) scale(0.5);
  }
  [data-tooltip-location="left"]:hover:before {
	transform: translate(-5px, 50%) scale(1);
  }
  
  /* Arrow */
  [data-tooltip-location="left"]:after {
	border-width: 5px 0px 5px 5px;
	border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
	transform-origin: left;
	transform: translateY(50%) scaleX(0);
  }
  [data-tooltip-location="left"]:hover:after {
	transform: translateY(50%) scaleX(1);
  }
  
  
  
  /* RIGHT */
  [data-tooltip-location="right"]:before,
  [data-tooltip-location="right"]:after {
	left: calc(100% + 5px);
	bottom: 50%;
  }
  
  [data-tooltip-location="right"]:before {
	transform: translate(5px, 50%) scale(0.5);
  }
  [data-tooltip-location="right"]:hover:before {
	transform: translate(5px, 50%) scale(1);
  }
  
  [data-tooltip-location="right"]:after {
	border-width: 5px 5px 5px 0px;
	border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
	transform-origin: right;
	transform: translateY(50%) scaleX(0);
  }
  [data-tooltip-location="right"]:hover:after {
	transform: translateY(50%) scaleX(1);
  }
  
  
  
  /* BOTTOM */
  [data-tooltip-location="bottom"]:before,
  [data-tooltip-location="bottom"]:after {
	top: calc(100% + 5px);
	bottom: auto;
  }
  
  [data-tooltip-location="bottom"]:before {
	transform: translate(-50%, 5px) scale(0.5);
  }
  [data-tooltip-location="bottom"]:hover:before {
	transform: translate(-50%, 5px) scale(1);
  }
  
  [data-tooltip-location="bottom"]:after {
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
	transform-origin: bottom;
  }
  